<div id="bkm_ext">
    <div id="bkm_ext-container-create">
        <div id="bkm_ext-header">
            <div id="bkm_ext-owl"></div>
        </div>
        <div id="bkm_ext-body">
            <div id="bkm_ext-content">
                <div id="bkm_ext_form-add">
                    <div class="form-group">
                        <label for="bkm_ext_form_url">Url</label>
                        <input type="text" id="bkm_ext_form_url" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="bkm_ext_form_title">Titre</label>
                        <input type="text" id="bkm_ext_form_title" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="bkm_ext_form_tags">Tags</label>
                        <input data-role="tagsinput" type="text" id="bkm_ext_form_tags" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <button id="bkm_ext_form_smbt" class="btn btn-primary">Ajouter aux favoris</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>